<div class="w-100 p-3">
    <h4 class="d-inline-block"><a class="text-decoration-none text-dark" href="/"><i class="bi bi-house"></i> My Shop</a></h4>
    <a class="float-end text-decoration-none text-dark" href="/bag"><%= bag.length %> <i class="bi bi-bag"></i></a>
</div>